{{city.name}}'s Details

Country: {{city.country}}

Rentals available in {{city.name}}:

<ul id="list">
  {{#each city.rentals as |rental|}}
    <li>{{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}}{{/link-to}}</li>
  {{/each}}
</ul>

<button {{action 'destroyCity' city}}>Delete</button>
