<h4>Location:  {{fullLocation}}</h4>

Rentals available in {{city.name}}:

<ul>
  {{#each sortedRentals as |rental|}}
    <li>{{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}}{{/link-to}}</li>
  {{/each}}
</ul>

<button {{action 'destroyCity' city}}>Delete</button>
