<p>Located in <span class="focus">{{rental.city.name}}</span>, this <span class="focus">{{rental.bedrooms}}</span> bedroom <span class="focus">{{rental.type}}</span> is
available by arrangement through <span class="focus">{{rental.owner}}</span>.</p>
<br>
<p><img src={{rental.image}} alt={{rental.type}}></p>

<button {{action 'delete' rental}}>Delete</button>
